doctype html
html(lang='en')
  head
    title  TinyShop User
    
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    script(src='http://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')

    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.js', integrity='sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=', crossorigin='anonymous')
    script(src='/public/javascripts/app.js')

    link(rel='icon', href='/public/images/shopLogo.png', type='image/gif', sizes='32x32')
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel='stylesheet',
    href='/stylesheets/style.css')
  body
     nav.navbar.navbar-expand-md.navbar-dark.fixed-top#navbarIn
      
      img.d-inline-block.align-top(src='/public/images/shopLogo.png', width='75', height='75', alt='Logo Image')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='products')
              | Products 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='logout') Logout
          h3 Welcome To Your TinyShop  Account. Have Fun!
          li.nav-item
        //form.form-inline.my-2.my-lg-0
        //input#searchInput.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        //button.btn.btn-outline-success.my-2.my-sm-0(type='submit', onclick='searchInputA()') Search
        h6#cartCnt 
        .cartBtn(data-container='body', data-toggle='modal', data-target='#exampleModal')
            img.rounded(src='/public/images/shopping-cart.png', alt='loginIcon', data-container='body') 
        
block content
      .container
            
          each product in products  
              
              .card(style='width: 20rem;', )
                .card-body
                    h5.card-title  #{product.name}
                    img.card-img-top(img src='#{product.image}', alt='#{product.name}')
                    h6.card-text(data-toggle='tooltip', data-placement='bottom', title='#{ product.description }') Description
                    h6.card-text
                    small.text-muted Price:  #{product.price}
                    br    
                    button#addToCart.btn.btn-primary(type='submit',onclick="addToCart(#{product.price})") Add to Cart
                    br
                                  
                        
                     
                // Modal
                #exampleModal.text-center.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                  
                    .modal-content.text-center
                      .modal-header
                        h5#exampleModalLabel Click Buy to Purchase
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        .cartList
                         h4#prodInCart
                         h3#total   
                         input#buyBtn.btn.btn-primary(type='submit', value='Buy', onclick="location.href = '/shipping'")



 
      
  
block scripts      
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')
    script.
      /*
      We can use [body] or the element class/id that wraps the elements with tooltip/popover.
      Include the data-[] attribute in each element that needs it.
      */
      $(document).ready(function() {
      //Tooltip, activated by hover event
      $("body").tooltip({
      selector: "[data-toggle='tooltip']",
      container: "body"
      });
      
      });            
      